<br>
<div class="canister">
    <div class="form-box">
<div class="container h-100">
    
    <div class="row h-100 justify-content-center align-items-center">
    <div class="col-10 col col-md-8 col-lg-6">
        <br> <br>
       
        <h1 class="text-center">Login to Your Account</h1>
    <form #form="ngForm" (ngSubmit)="loginSubmit(form)" >
        <br> <br>

        
        <label for="emailId">Enter Your Email ID:</label><br>
        <input type="text" name="emailId" ngModel placeholder="Enter Email " class=form-control> <br>
    
        <label for="password">Enter Your Password:</label><br>
        <input type="password" name="*******" ngModel placeholder="* * * * * *" class=form-control> <br>
        <span style="margin-left: 0;margin-right: auto;">
            <input id="remember" type="checkbox" class="check-box">
            <label for="remember">Remember Password</label>
          <br></span>
          <br>
        <div  class="text-center" >
            <button type="submit" class="form-submit-button text-align: center;  ">&nbsp;&nbsp;Login&nbsp;&nbsp;</button><br>
            <br>
            <h6>Don`t have Account Yet ??</h6><a routerLink="/createProfile">Register Here</a>
        </div>
        <div *ngIf="formSubmitted" class="submitted">Login Successful</div>
    
       
    
    </form>
   
    
    <!--
    
    <div class="row">
        <p class="col-md-4"></p>
        <a routerLink="/toCustomerList" class="btn col-md-4">ListCustomers</a>
        <p class="col-md-4"></p>
    </div>
    -->
</div></div>
    <br>
    