<h2 class="text-center">Income Details</h2>
<hr>
<form>

    <div class="row">
        <div class="col-md-4">
            <label for="propertyName">Property Name</label>
            <input type="text" name="propertyName" placeholder="{{currentIncome.propertyName}}" disabled class=form-control ><br>
        </div>
        <div class="col-md-4">
            <label for="propertyLocation">Property Location</label>
            <input type="text" name="propertyLocation" placeholder="{{currentIncome.propertyLocation}}" disabled class=form-control ><br>
        </div>
        <div class="col-md-4">
            <label for="pinCode">Pin Code</label>
            <input type="text" name="pinCode" placeholder="{{currentIncome.pinCode}}" disabled class=form-control ><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label for="estimatedAmount">Estimated Amount</label>
            <input type="text" name="estimatedAmount" placeholder="{{currentIncome.estimatedAmount}}" disabled class=form-control ><br>
        </div>
        <div class="col-md-4">
            <label for="typeOfEmployment">Type Of Employment</label>
            <input type="text" name="typeOfEmployment" placeholder="{{currentIncome.typeOfEmployment}}" disabled class=form-control ><br>
        </div>
        <div class="col-md-4">
            <label for="retirementAge">RetirementAge</label>
            <input type="text" name="retirementAge" placeholder="{{currentIncome.retirementAge}}" disabled class=form-control ><br>
        </div>
    </div>

    <div class="row">
        <div class="col-md-4">
            <label for="organization Name">Organization Name</label>
            <input type="text" name="organizationName" placeholder="{{currentIncome.organizationName}}" disabled class=form-control ><br>
        </div>
        <div class="col-md-4">
            <label for="employerName">Employer Name</label>
            <input type="text" name="employerName" placeholder="{{currentIncome.employerName}}" disabled class=form-control ><br>
        </div>
        <div class="col-md-4">
            
        </div>
    </div>


</form>
