<div class="row">
    <div class="col-md-2">
    <table>
        <tr>
            <th>Id</th>
            <th>First Name</th>
        </tr>
        <tr *ngFor="let c of customerList">
            <td>{{c.customerId}}</td>
            <td>{{c.firstName}}</td>
            <td><a routerLink="profile/{{c.customerId}}"><img src="https://image.similarpng.com/very-thumbnail/2021/04/Green-arrow-icon-isolated-on-transparent-background-PNG.png" height=25 width=25></a></td>
        </tr>
    </table>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>