<h2 class="text-center">Documents Uploaded</h2>
<hr>
<br><br>
<div class="row">
    <div class="col-md-4 text-center">
        
        <a href="{{userDocs.panCard}}"> 
        <img src="https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png" height=50 width=50><br>
        Pan Card
        </a>
    </div>
    <div class="col-md-4 text-center">
        <a href="{{userDocs.aadharCard}}"> 
            
        <img src="https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png" height=50 width=50><br>
        Aadhar Card
        </a>
    </div>
    <div class="col-md-4  text-center ">
        <a href="{{userDocs.salarySlip}}"> 
        <img src="https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png" height=50 width=50><br>
        Salary Slip
        </a>
    </div>
</div>
<br>
<br><br>
<div class="row">
    
    <div class="col-md-4 text-center">
        
        <a href="{{userDocs.nocFromBuilder}}"> 
        <img src="https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png" height=50 width=50><br>
        NOC from Builder
        </a>
    </div>
    <div class="col-md-4 text-center">
        <a href="{{userDocs.agreementToSale}}"> 
        <img src="https://www.iconpacks.net/icons/2/free-file-icon-1453-thumb.png" height=50 width=50><br>
        Sale Agreement
        </a>
    </div>
    <div class="col-md-4 text-center">
        
    </div>
</div>
