
  
<body>
<span class="top-nav-bar">
  
  <span>
    <a class="navbar-brand" routerLink="toHome">
      <img
        src="https://irp.cdn-website.com/be6681bc/dms3rep/multi/1592927507_6eed3a1e6f6c76bda22b_copy.png"
        width="150"
        height="65"
        alt=""
      />
     
    </a>
    
  </span>
  
  <span>
    <button class="empty-button horizontal-align-button" routerLink="../toContactUs">
      <ion-icon name="call-outline"></ion-icon>
      <h6>Contact Us</h6>
    </button>

    <button class="empty-button horizontal-align-button" routerLink="../toAboutUs">
    
   
      <ion-icon name="Information-outline"></ion-icon>
      <h6>About Us</h6>
    
 </button>
  </span>
</span>

 

<nav class=" nav-bar navbar-expand-lg navbar-dark primary-background-color lead brdr">
    
  <a class="navbar-brand" routerLink="toHome">
   
  </a>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    
    <ul class="navbar-nav ml-auto">
      <li class="nav-item">
        &nbsp;&nbsp;
        <a class="navbar-brand" routerLink="toHome">

          <img
            src="https://cdn-icons-png.flaticon.com/128/553/553416.png"
            width="35"
            height="35"
            alt=""
          />
        </a>
    
      </li>
      <li class="nav-item dropdown" >
        <a
          class="nav-link dropdown-toggle text-white"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
          routerLink="toHome"
        >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Login
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item lead" routerLink="customerLogin"
            >Customer Login</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item lead" routerLink="adminLogin"
            >Admin Login</a
          >
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white" routerLink="createProfile">&nbsp;&nbsp;&nbsp;&nbsp;Register</a>
      </li>
      
      
      
      
      <li class="nav-item dropdown">
        <a
          class="nav-link dropdown-toggle text-white"
          href="#"
          id="navbarDropdown"
          role="button"
          data-toggle="dropdown"
          aria-haspopup="true"
          aria-expanded="false"
        >
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Calculators
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item lead" routerLink="EMICalc"
            >EMI</a
          >
          <div class="dropdown-divider"></div>
          <a class="dropdown-item lead" routerLink="eligibilityCalc"
            >ELIGIBILITY</a
          >
        </div>
      </li>




      

    
      
     
    </ul>
  </div>
</nav>
 
<marquee class="marq">
                
  Welcome to Your Home Loan Portal . Project under LTI-Larsen and Toubro Infotech. Meet our Team Members-Vaishnavi - Omkar - Sachin & Vishrut.

</marquee>
    





<router-outlet></router-outlet>

</body>
<footer class="primary-background-color">
  <span>
    
    <a class="navbar-brand" routerLink="toHome">
      <img
        src="https://irp.cdn-website.com/be6681bc/dms3rep/multi/1592927507_6eed3a1e6f6c76bda22b_copy.png"
        width="200"
        height="100"
        alt=""
        
      />
      
     
    </a>

  
</span>
  <span class="links-container">
    <span class="links">
      <a>About Us</a>
      <a>Privacy Policy</a>
      <a>Contact Us</a>
      <a>Easy Loan</a>
      <a>EMI Calculator</a>
      <a>Track Loan</a>
      <a>Find Branches</a>
    </span>
    <span class="links">
      <h3 style="color: greenyellow">Connect</h3>
      <a>
        <ion-icon name="logo-instagram"></ion-icon> Instagram
      </a>
      <a>
        <ion-icon name="logo-facebook"></ion-icon> Facebook
      </a>
      <a>
        <ion-icon name="logo-twitter"></ion-icon> Twitter
      </a>
      <a>
        <ion-icon name="logo-linkedin"></ion-icon> LinkedIn
      </a>
    </span>
  </span>
</footer>
