<h2 class="text-center">Enter Loan Details</h2> <br> <br>
<form #form="ngForm" (ngSubmit)="onSubmit(form)">

    <label for="loanAmount">Loan Amount, this is the balance amount that will be credited if Loan is approved</label><br>
    <input #loanAmt="ngModel" required minlength="1" maxlength="20" type="number" name="loanAmount" ngModel placeholder="Enter Loan Amount" class=form-control> <br>
    <div *ngIf="loanAmt.touched && loanAmt.invalid" class="alert alert-danger">
        <p *ngIf="loanAmt.hasError('required')">Loan Amount is required</p>
        <p *ngIf="loanAmt.hasError('maxlength')">Loan sum cannot be that big</p>
    </div>

    <label for="tenure">Tenure</label>&nbsp;Please note, Tenure is to be entered in number of months.<br>
    <input #time="ngModel" required minlength="1" maxlength="20" type="number" name="tenure" ngModel placeholder="Enter Tenure to pay the loan back over" class=form-control> <br>
    <div *ngIf="time.touched && time.invalid" class="alert alert-danger">
        <p *ngIf="time.hasError('required')">Number of months is required</p>
        <p *ngIf="time.hasError('minlength')">Tenure is to be longer</p>
    </div>

    
    <label for="bankName">Bank Name</label><br>
    <input #bank="ngModel" required minlength="3" maxlength="25" type="text" name="bankName" ngModel placeholder="Enter Bank Name" class=form-control> <br>
    <div *ngIf="bank.touched && bank.invalid" class="alert alert-danger">
        <p *ngIf="bank.hasError('required')">Bank Name is Required</p>
        <p *ngIf="bank.hasError('minlength')">Bank Name should be more than 3</p>
    </div>

    <label for="ifscCode">IFSC Code</label><br>
    <input #ifsc="ngModel" required minlength="1" maxlength="11" type="text" name="ifscCode" ngModel placeholder="Enter IFSC Code" class=form-control> <br>
    <div *ngIf="ifsc.touched && ifsc.invalid" class="alert alert-danger">
        <p *ngIf="ifsc.hasError('required')">IFSC Code is required</p>
        <p *ngIf="ifsc.hasError('minlength')">Length should be more than 1, usually 11 digits</p>
    </div>

    <label for="cifNumber">CIF Number</label><br>
    <input #cif="ngModel" required minlength="5" maxlength="20" type="text" name="cifNumber" ngModel placeholder="Enter CIF Number" class=form-control> <br>
    <div *ngIf="cif.touched && cif.invalid" class="alert alert-danger">
        <p *ngIf="cif.hasError('required')">CIF Number is required</p>
        <p *ngIf="cif.hasError('minlength')">Length should be more than 1, usually 12-20 digits</p>
    </div>

    <label for="accountNumber">Account Number</label><br>
    <input #acc="ngModel" required minlength="5" maxlength="20" type="text" name="accountNumber" ngModel placeholder="Enter Account Number" class=form-control> <br>
    <div *ngIf="acc.touched && acc.invalid" class="alert alert-danger">
        <p *ngIf="acc.hasError('required')">Account Number is required</p>
        <p *ngIf="acc.hasError('minlength')">Length should be more than 5, usually 12-20 digits</p>
    </div>

    <br>
    <div class="text-center">
        <button type="submit" class="form-submit-button2">Submit</button>
    </div>
    
</form>
