<div class="row">
    <div class="col-md-2">
        <div class="btn-group-vertical">
        <button routerLink="allApplicants" class="form-submit-button2">All Applicants</button>
        <button routerLink="submittedForVerification" class="form-submit-button2">Submitted For Verification</button>
        <button routerLink="approvedLoans" class="form-submit-button2">Approved Applicants</button>
        <button routerLink="rejectedLoans" class="form-submit-button2">Rejected Applicants</button>
        </div>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>

