<div class="row">
    <div class="col-md-2">
        <div class="btn-group-vertical">
        <a routerLink="allApplicants" class="btn btn-success">All Applicants</a>
        <a routerLink="submittedForVerification" class="btn btn-success">Submitted For Verification</a>
        <button (click)="allApproved()" class="btn btn-sucess">Approved Applicants</button>
        <button (click)="allRejected()" class="btn btn-sucess">Rejected Applicants</button>
        </div>
    </div>
    <div class="col-md-10">
        <router-outlet></router-outlet>
    </div>
</div>

